extends ../templates/template

block header
    nav.nav
        div
            img(src="../assets/img/logo-unefa.png", alt="logo-unefa")
            p.logo UNEFA
        ul.nav-list
            li: a(href="/") Inicio
            li: a(href="/search") Consultar
            li: a(href="/delete") Eliminar

block main
    section.add
        div.add-container
            form(method="post" action="/added" autocomplete="off")
                h1 Agregar Información
                div.sub-secc-AC-DC
                    div.container-order
                        label(for="subgrupo") Subgrupo
                        input(id="subgrupo" name="subgrupo" type="number" autofocus required)
                    div.container-order
                        label(for="seccion") Sección
                        input(id="seccion" name="seccion" type="number" required)
                    div.container-order
                        label(for="serial") Serial
                        input(id="serial" name="serial" type="text" required)
                    div.container-order
                        label(for="AC") A.C.
                        input(id="AC" name="AC" type="number" required)
                    div.container-order
                        label(for="DC") D.C
                        input(id="DC" name="DC" type="number" required)
                div.descrip
                    label(for="descrip") Descripción
                    textarea(name="descrip", cols="70", rows="4")
                div.state
                        label(for="state") Estado
                        input(id="state" name="state" type="text" required)
                input.btn-input(type="submit" value="Guardar")
            div.decorate